SbisParser/Schemas/facture.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ôàéë">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ÑâÓ÷ÄîêÎáîð">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ÑâÎÝÄÎòïð">
                <xs:complexType>
                  <xs:attribute name="ÈÍÍÞË" type="xs:string" use="required" />
                  <xs:attribute name="ÈäÝÄÎ" type="xs:string" use="required" />
                  <xs:attribute name="ÍàèìÎðã" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ÈäÎòïð" type="xs:string" use="required" />
            <xs:attribute name="ÈäÏîë" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Äîêóìåíò">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ÑâÑ÷Ôàêò">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ÑâÏðîä">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÈäÑâ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑâÞËÓ÷">
                                  <xs:complexType>
                                    <xs:attribute name="ÈÍÍÞË" type="xs:string" use="required" />
                                    <xs:attribute name="ÊÏÏ" type="xs:string" use="required" />
                                    <xs:attribute name="ÍàèìÎðã" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Àäðåñ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÀäðÐÔ">
                                  <xs:complexType>
                                    <xs:attribute name="Ãîðîä" type="xs:string" use="required" />
                                    <xs:attribute name="Äîì" type="xs:string" use="required" />
                                    <xs:attribute name="Èíäåêñ" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="ÊîäÐåãèîí" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="Êîðïóñ" type="xs:string" use="required" />
                                    <xs:attribute name="Óëèöà" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Êîíòàêò">
                            <xs:complexType>
                              <xs:attribute name="Òëô" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÁàíêÐåêâ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑâÁàíê">
                                  <xs:complexType>
                                    <xs:attribute name="ÁÈÊ" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="ÊîðÑ÷åò" type="xs:integer" use="required" />
                                    <xs:attribute name="ÍàèìÁàíê" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ÍîìåðÑ÷åòà" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÎÊÏÎ" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ÃðóçÎò">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÃðóçÎòïð">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÈäÑâ">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ÑâÞËÓ÷">
                                        <xs:complexType>
                                          <xs:attribute name="ÈÍÍÞË" type="xs:string" use="required" />
                                          <xs:attribute name="ÊÏÏ" type="xs:string" use="required" />
                                          <xs:attribute name="ÍàèìÎðã" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Àäðåñ">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ÀäðÐÔ">
                                        <xs:complexType>
                                          <xs:attribute name="Ãîðîä" type="xs:string" use="required" />
                                          <xs:attribute name="Äîì" type="xs:string" use="required" />
                                          <xs:attribute name="Èíäåêñ" type="xs:unsignedInt" use="required" />
                                          <xs:attribute name="ÊîäÐåãèîí" type="xs:unsignedByte" use="required" />
                                          <xs:attribute name="Óëèöà" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ÃðóçÏîëó÷">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÈäÑâ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑâÞËÓ÷">
                                  <xs:complexType>
                                    <xs:attribute name="ÈÍÍÞË" type="xs:string" use="required" />
                                    <xs:attribute name="ÊÏÏ" type="xs:string" use="required" />
                                    <xs:attribute name="ÍàèìÎðã" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Àäðåñ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÀäðÐÔ">
                                  <xs:complexType>
                                    <xs:attribute name="Ãîðîä" type="xs:string" use="required" />
                                    <xs:attribute name="Äîì" type="xs:string" use="required" />
                                    <xs:attribute name="Èíäåêñ" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="ÊîäÐåãèîí" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="Êîðïóñ" type="xs:string" use="required" />
                                    <xs:attribute name="Óëèöà" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÁàíêÐåêâ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑâÁàíê">
                                  <xs:complexType>
                                    <xs:attribute name="ÁÈÊ" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="ÊîðÑ÷åò" type="xs:integer" use="required" />
                                    <xs:attribute name="ÍàèìÁàíê" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ÍîìåðÑ÷åòà" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÎÊÏÎ" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ÑâÏîêóï">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÈäÑâ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑâÞËÓ÷">
                                  <xs:complexType>
                                    <xs:attribute name="ÈÍÍÞË" type="xs:string" use="required" />
                                    <xs:attribute name="ÊÏÏ" type="xs:string" use="required" />
                                    <xs:attribute name="ÍàèìÎðã" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Àäðåñ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÀäðÐÔ">
                                  <xs:complexType>
                                    <xs:attribute name="Ãîðîä" type="xs:string" use="required" />
                                    <xs:attribute name="Äîì" type="xs:string" use="required" />
                                    <xs:attribute name="Èíäåêñ" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="ÊîäÐåãèîí" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="Óëèöà" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Êîíòàêò">
                            <xs:complexType>
                              <xs:attribute name="Òëô" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÁàíêÐåêâ">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑâÁàíê">
                                  <xs:complexType>
                                    <xs:attribute name="ÁÈÊ" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="ÊîðÑ÷åò" type="xs:integer" use="required" />
                                    <xs:attribute name="ÍàèìÁàíê" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ÍîìåðÑ÷åòà" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÎÊÏÎ" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ÄîïÑâÔÕÆ1">
                      <xs:complexType>
                        <xs:attribute name="ÊóðñÂàë" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="ÍàèìÎÊÂ" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ÈíôÏîëÔÕÆ1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="ÒåêñòÈíô">
                            <xs:complexType>
                              <xs:attribute name="Çíà÷åí" type="xs:string" use="required" />
                              <xs:attribute name="Èäåíòèô" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ÄàòàÑ÷Ô" type="xs:string" use="required" />
                  <xs:attribute name="ÊîäÎÊÂ" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="ÍîìåðÑ÷Ô" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ÒàáëÑ÷Ôàêò">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ÑâåäÒîâ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Àêöèç">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÁåçÀêöèç" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÑóìÍàë">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑóìÍàë" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÄîïÑâåäÒîâ">
                            <xs:complexType>
                              <xs:attribute name="ÊîäÒîâ" type="xs:string" use="required" />
                              <xs:attribute name="ÊðÍàèìÑòðÏð" type="xs:string" use="required" />
                              <xs:attribute name="ÍàèìÅäÈçì" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÈíôÏîëÔÕÆ2">
                            <xs:complexType>
                              <xs:attribute name="Çíà÷åí" type="xs:string" use="required" />
                              <xs:attribute name="Èäåíòèô" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÊîëÒîâ" type="xs:decimal" use="required" />
                        <xs:attribute name="ÍàèìÒîâ" type="xs:string" use="required" />
                        <xs:attribute name="ÍàëÑò" type="xs:string" use="required" />
                        <xs:attribute name="ÍîìÑòð" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="ÎÊÅÈ_Òîâ" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="ÑòÒîâÁåçÍÄÑ" type="xs:decimal" use="required" />
                        <xs:attribute name="ÑòÒîâÓ÷Íàë" type="xs:decimal" use="required" />
                        <xs:attribute name="ÖåíàÒîâ" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ÂñåãîÎïë">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÑóìÍàëÂñåãî">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑóìÍàë" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÊîëÍåòòîÂñ" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="ÑòÒîâÁåçÍÄÑÂñåãî" type="xs:decimal" use="required" />
                        <xs:attribute name="ÑòÒîâÓ÷ÍàëÂñåãî" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ÑâÏðîäÏåð">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ÑâÏåð">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÎñíÏåð">
                            <xs:complexType>
                              <xs:attribute name="ÄàòàÎñí" type="xs:string" use="required" />
                              <xs:attribute name="ÄîïÑâÎñí" type="xs:string" use="required" />
                              <xs:attribute name="ÍàèìÎñí" type="xs:string" use="required" />
                              <xs:attribute name="ÍîìÎñí" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ÑâËèöÏåð">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÐàáÎðãÏðîä">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ÔÈÎ">
                                        <xs:complexType>
                                          <xs:attribute name="Èìÿ" type="xs:string" use="required" />
                                          <xs:attribute name="Îò÷åñòâî" type="xs:string" use="required" />
                                          <xs:attribute name="Ôàìèëèÿ" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Äîëæíîñòü" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÑîäÎïåð" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Ïîäïèñàíò">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ÞË">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÔÈÎ">
                            <xs:complexType>
                              <xs:attribute name="Èìÿ" type="xs:string" use="required" />
                              <xs:attribute name="Îò÷åñòâî" type="xs:string" use="required" />
                              <xs:attribute name="Ôàìèëèÿ" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Äîëæí" type="xs:string" use="required" />
                        <xs:attribute name="ÈÍÍÞË" type="xs:string" use="required" />
                        <xs:attribute name="ÍàèìÎðã" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ÎáëÏîëí" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="ÎñíÏîëí" type="xs:string" use="required" />
                  <xs:attribute name="Ñòàòóñ" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ÂðåìÈíôÏð" type="xs:string" use="required" />
            <xs:attribute name="ÄàòàÈíôÏð" type="xs:string" use="required" />
            <xs:attribute name="ÊÍÄ" type="xs:unsignedInt" use="required" />
            <xs:attribute name="ÍàèìÄîêÎïð" type="xs:string" use="required" />
            <xs:attribute name="ÍàèìÝêîíÑóáÑîñò" type="xs:string" use="required" />
            <xs:attribute name="ÏîÔàêòÕÆ" type="xs:string" use="required" />
            <xs:attribute name="Ôóíêöèÿ" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ÂåðñÏðîã" type="xs:string" use="required" />
      <xs:attribute name="ÂåðñÔîðì" type="xs:decimal" use="required" />
      <xs:attribute name="ÈäÔàéë" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>