SbisParser/Schemas/sbis.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ôàéë">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Äîêóìåíò">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ÊíèãàÏîêóï">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ÊíÏîêÑòð">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ÊîäÂèäÎïåð" type="xs:unsignedByte" />
                          <xs:element name="ÄàòàÓ÷Òîâ" type="xs:string" />
                          <xs:element name="ÑâÏðîä">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ÑâåäÞË">
                                  <xs:complexType>
                                    <xs:attribute name="ÈÍÍÞË" type="xs:unsignedLong" use="required" />
                                    <xs:attribute name="ÊÏÏ" type="xs:unsignedInt" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÍîìåðÏîð" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="ÍîìÑ÷ÔÏðîä" type="xs:string" use="required" />
                        <xs:attribute name="ÄàòàÑ÷ÔÏðîä" type="xs:string" use="required" />
                        <xs:attribute name="ÑòîèìÏîêóïÂ" type="xs:decimal" use="required" />
                        <xs:attribute name="ÑóìÍÄÑÂû÷" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ÑóìÍÄÑÂñÊÏê" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Èíäåêñ" type="xs:unsignedByte" use="required" />
            <xs:attribute name="ÍîìÊîðð" type="xs:unsignedByte" use="required" />
            <xs:attribute name="ÏðèçíÑâåä8" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ÈäÔàéë" type="xs:string" use="required" />
      <xs:attribute name="ÂåðñÏðîã" type="xs:string" use="required" />
      <xs:attribute name="ÂåðñÔîðì" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>